*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Google Font */
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');


body{
  font-family: 'Sora', sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100vw;
  max-width: 640px;
  min-height: 100vh;
  padding: 6rem 24px 18rem;
  background-color: #FAFAF9;
}
.reviewers-logo{
  padding: 12px;
  background-color: #F5C044;
  width: fit-content;
  border-radius: 50%;
}
.reviewers-star{
  font-size: 22px;
  background: -webkit-linear-gradient(#ebebef 40%, #e0a504 80%, #816e34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 30px 100px 0px rgba(212, 214, 217, 0.05);
}
.reviewers h1{
  font-size: 2.25rem;
  margin: 24px 0;
}
.reviewers p{
  font-size: 1.25rem;
  line-height: 2rem;
  color: #52525A;
  letter-spacing: 1px;
  font-weight: 500;
}
.list-items{
  margin-top: 32px;
 line-height: 2.5rem;
}
li{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.875;
  color: #52525A;
}

.card-container{
  width: 100%;
  margin-top: 60px;
}
.card1, .card2{
  background-color: #FFFFFF;
  align-items: center;
  width: 350px;
  border-radius: 10px;
  padding: 28px 40px;
}
.card1-container{
  display: flex;
  justify-content: end;
}
.card1{
  margin-bottom: 40px;
  box-shadow: 0px 30px 100px 0px rgba(1, 10, 19, 0.05);
}
.card2{
  box-shadow: 0px 30px 100px 0px rgba(1, 10, 19, 0.05);
}
.logo-star{
  display: flex;
  gap:20px;
}
.card-logo{
  width: 5.4rem;
}

.card1 h3, .card2 h3{
 font-size: 1rem;
 margin-top: 24px;
}
.card1 p, .card2 p{
 font-size: 1rem;
 color: #52525A;
 margin-top: 12px;
line-height: 30px;

}

@media screen and (min-width: 640px) {
  .container{
    max-width: 1280px;
    padding: 6rem 24px 18rem;
    display: flex;
    align-items: center;
    gap: 32px;
    padding:0 4.5rem ;
  }
  .reviewers, .card-container{
    width: 50%;
    margin:0;
  }
}



